@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-base text-slate-100 min-h-screen;
}

a {
  @apply text-accent transition-colors hover:text-primary;
}
